body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin: 0;
}
ul {
    list-style-type: none;
    font-size: 8px;
}
.top .topleft {
    font-weight: 700;
}

.top,
.middleone {
    background-color: #1F2937;
}
.middleoneleft h1 {
    font-size: 48px;
    font-weight: 800;
}

.middleoneleft p {
    font-size: 18px;
}
.middleoneleft button {
    background-color: #3882F6;
}

.middletwotop {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.middletwobottom {
    color: gray;
    font-size: 10px;
}

.middlethree {
    font-size: 36px;
    color: #1F2937;
    background-color: #E5E7EB;
}

.middlefourbox {
    background-color: #3882F6;
    width: 600px;
    border-radius: 25px;
    flex: 1 0 auto;
    margin: 20px 100px 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom {
    background-color: #1F2937;
}

body {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex: 1;
}

.topleft {
    margin-left: 20px;
}

.topright ul{
    display: flex;
}

.topright ul li {
    padding: 8px;
}

.middleone {
    display: flex;
    flex: 1;
}
.middleoneleft {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-evenly;
}
.middletwobottom img {
    width: 120px;
    height: 120px;
    margin-left: 12px;
    border: 3px solid blue;
    border-radius: 25px;
}

.middletwo {
    display: flex;
    flex-direction: column;
}

.middletwobottom {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.middletwotop {
    text-align: center;
}

.middletwobottom p {
    width: 140px;
    height: auto;
    margin-bottom: 22px;
    text-align: center;
    margin-right: 22px;
}

.middleoneright {
    flex: 0 1 auto;
}
.middleoneright {
    height: auto;
    width: auto;
}
.middleoneleft p {
    width: 340px;
    text-align: center;
}

.middlefour {
    display: flex;
    justify-content: center;
    align-items: center;
}
.middlefourboxright button{
    border-radius: 25px;
    width: 80px;
    height: 30px;
    background-color: white;
    border: none;
    color:#3882F6;
    margin-right: 100px;
}